@import "../../../styles/theme.scss";
form{
    .form-control:focus{
        box-shadow: none;
    }

    button{
        background: $button_submit_color;
    }
    .hide{
        display: none;
    }

    .invalid{
        border-color: $input_wrong_border_color;
    }
    .valid, .valid:focus{
        border-color: $input_success_border_color;
    }
}


.error{
    background:$input_wrong_border_color ;
    margin: 3px 0;
    border-radius: 4px;
    color: $font_color_light;

    small{
        padding: 13px;
        
    };
}

.success{
    background:$input_success_border_color ;
    margin: 3px 0;
    border-radius: 4px;
    color: $font_color_light;

    small{
        padding: 13px;
        
    };
}

::ng-deep .pass-input{
    span{
        height: 40px;
        justify-content: center;
    }
    position: relative;
    .pass-visible{
        height: 40px;
        

        button{
            padding: 0;
            height: 40px;
            position: absolute;
            top: 3px;
            right: 0;
            
        }

    }

}