<div class="col-xs-12 col-md-6 col-md-offser-3" >
    <div *ngIf="errorMessage" >
        <div class="alert alert-danger error" role="alert"  >
            {{errorMessage}}
          </div>
    </div>
    <div *ngIf="successMessage" >
        <div class="alert alert-success success" role="alert"  >
            {{successMessage}}
          </div>
    </div>
    <form [formGroup]="setPassForm" (submit)="onResetPass(setPassForm)">
        <div class="form-group">


            <mat-slide-toggle
            class="mt-3 mb-3"
            (click)="OnPasswordToggle()"
            color="primary">
            <small>show password status</small>
            </mat-slide-toggle><br>
    
            <label for="password"> password</label>
            <div class="pass-input">  
                <mat-pass-toggle-visibility class="pass-visible" #toggle></mat-pass-toggle-visibility>     
                <input class="form-control mt-1 mb-2" matInput #password
                        [type]="toggle.type"
                        id="password"
                        formControlName="newPassword"
                        placeholder="New Password"
                        [class]="{  'valid' :   !setPassForm.controls.newPassword.pristine &&  !setPassForm.controls.newPassword.errors,
                                    'invalid' : setPassForm.controls.newPassword.errors    &&  setPassForm.controls.newPassword.touched } "
                        >
                
        
            </div>
            <div [ngClass]=" showPasswordStatus ? 'show' : 'hide' " class="password_hint">
    
                <mat-password-strength #passwordComponent
                                      (onStrengthChanged)="onStrengthChanged($event)"
                                      [password]="password.value">
                </mat-password-strength>
                <!--Password's strength info-->
                <mat-password-strength-info
                  *ngIf="showDetails"
                  [passwordComponent]="passwordComponent">
                </mat-password-strength-info> 
            </div>  
    
            <label for="password1"> Confirm Password</label>
            <div class="pass-input">  
              <mat-pass-toggle-visibility class="pass-visible" #toggle1></mat-pass-toggle-visibility>
              <input 
                  [type]="toggle1.type" 
                  class="form-control mt-1" 
                  id="password1" 
                  matInput #password1
                  formControlName="newPasswordConfirm"
                  [class]="{    'valid' :   !setPassForm.controls.newPasswordConfirm.pristine 
                                                    && !setPassForm.controls.newPasswordConfirm.errors 
                                                    && !setPassForm.controls.newPassword.value!=setPassForm.controls.newPasswordConfirm.value,
                                'invalid' : setPassForm.controls.newPasswordConfirm.errors    
                                                    &&  setPassForm.controls.newPasswordConfirm.touched 
                                                    && setPassForm.controls.newPassword.value!=setPassForm.controls.newPasswordConfirm.value } ">
              
              
              <div class="error" *ngIf="setPassForm.controls.newPassword.value 
                                && setPassForm.controls.newPassword.touched 
                                && setPassForm.controls.newPasswordConfirm.touched
                                && setPassForm.controls.newPassword.value!=setPassForm.controls.newPasswordConfirm.value "
                                >
                    <small> password does not match </small>
              </div>
            </div> 
            
            
            <button type="submit" class="mt-3" mat-button [disabled]="setPassForm.invalid && setPassForm.controls.newPassword.value!=setPassForm.controls.newPasswordConfirm.value " >Submit</button>
        </div>
    </form>
    <!-- <mat-spinner  *ngIf="loadingSpinner" ></mat-spinner> -->

</div>