<div class="col-xs-12 col-md-6 col-md-offser-3" >
    <ng-container *ngIf="errorMessage" >
        <div class="alert alert-danger error" role="alert" >
            {{errorMessage}}
        </div>
    </ng-container>
    <div class="alert alert-success success" *ngIf="successMessage" >
        {{successMessage}}
    </div >

    <form *ngIf="!loadingSpinner" [formGroup]="resetForm" (submit) = "onSubmit(resetForm)" >
        <div class="form-group">
            <label class="mb-2" for="email">For reseting your password please enter your email.</label>
            <input type="email"
                id="email"
                placeholder="email@gmail.com" 
                class="form-control mb-2"
                [class] = "{ 'valid' : !resetForm.controls.email.pristine && !resetForm.controls.email.errors, 'invalid': resetForm.controls.email.touched && resetForm.controls.email.errors } "
                name="email"
                formControlName="email" >

            <div class="error" >
                <small *ngIf="!resetForm.controls.email.value && resetForm.controls.email.touched" > this field required! </small>
                <small *ngIf="resetForm.controls.email.errors && resetForm.controls.email.value && resetForm.controls.email.touched" > Enter Valid Email! </small>
            </div>
            <button mat-button type="submit" [disabled]="resetForm.controls.email.errors">send</button>
        </div>
    </form>
    <mat-spinner  *ngIf="loadingSpinner" >
        
    </mat-spinner>

</div>
