<div class="container" >
    <div class="alert alert-success col-md-offser-3 success" *ngIf="userIsLoggedIn && loginMessage ">
        <p>{{loginMessage}}</p>
    </div>

    <div class="alert alert-success col-md-offser-3 success" *ngIf="!userIsLoggedIn && logoutMessage" >
        <p>{{logoutMessage}}</p>
    </div>
    <div *ngIf="!loadingSpinner">
        <div class="alert alert-success col-md-offser-3 success" *ngIf="userIsLoggedIn && signUpMessage" >
            <p >{{signUpMessage}}</p>
            <small >Email has sent to your email account please check it for activating your account. If not click <a (click)="onResendEmail()">here</a>  to resend verification email. </small>
            <small  *ngIf="resendMessage">{{resendMessage}}</small>
        </div>
    </div>
    <mat-spinner  *ngIf="loadingSpinner" ></mat-spinner>
</div>

