<nb-layout>
    <nb-layout-header [ngClass]="ExpandedSidebar?'expanded':'collapsed' ">
    <app-header></app-header>
    </nb-layout-header>
    <nb-layout-footer>footer</nb-layout-footer>
    <nb-layout-column >
         <router-outlet></router-outlet> 
    </nb-layout-column>
    
    <nb-sidebar state="compacted"> 
        <mat-icon (click)="toggle()">list</mat-icon>
        <app-side-bar></app-side-bar>
    </nb-sidebar>
    <!-- if you want to change the side bar position to right  user code that is in bellow -->
    <!-- <nb-sidebar state="compacted" right> side bar </nb-sidebar> -->
</nb-layout>