<mat-toolbar>
  <nav class="navbar navbar-expand">
      <span class="ms-2 brand" >django & angular</span>           
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active item ">
            <a [routerLink]="['/']" routerLinkActive mat-button>Home</a>
          </li>
        </ul>
        <!-- <ul class="navbar-nav ms-auto me-3" *ngIf="userIslogedIn">

        </ul> -->
          
          <ul class="navbar-nav ms-auto me-3" *ngIf="!userIslogedIn">

            <li><a class="me-2 item" [routerLink]="[ 'sign-up' ]" routerLinkActive> Sign Up</a></li>
            <li><a class="me-2 item" [routerLink]="[ 'login' ]" routerLinkActive> Sign In</a></li>
        </ul>

        <ul class="navbar-nav ms-auto me-3" *ngIf="userIslogedIn">
          <div class="dropdown ms-auto">
            <a href="#" class="dropdown-toggle item" data-bs-toggle="dropdown">{{userEmail}}</a>
            <div class="dropdown-menu">
                <a (click)="onLogOut()" class="dropdown-item">Sign Out</a>
                <a href="#" class="dropdown-item">Profile</a>
            </div>
          </div>
        </ul>


          

          
         
          
      </div>
  </nav>

</mat-toolbar>