@import "../../styles/theme.scss";
::ng-deep nb-layout-column{
    .form-control:focus {
        box-shadow: none;
        &.valid{
            border-color: $input_success_border_color;
        }
    }
    .invalid{
        border-color: $input_wrong_border_color;
    }
    .valid, .valid:focus{
        border-color: $input_success_border_color;
    }
    .error{
        background:$warning_background ;
        margin: 3px 0;
        border-radius: 4px;
        color: $font_color_light;

        small{
            padding: 13px;
            
        };
    }

}

button{
    background: $button_submit_color;
}
